{% extends 'food/base.html' %}
{% load custom_filters %}
{% block body %}

<div>
    {% for item in page_obj %}
    <div class="m-10 flex mx-auto w-1/2  ">
        <div>
            <img class="w-36 rounded-lg" src="{{item.item_image}}" alt="Image cannot be displayed">
        </div>
        <div class="ml-15">
            <div class="font-bold">{{item.item_name|upper}}</div>
            <div>{{item.item_desc|lower}}</div>
            <div class=" text-neutral-500 italic">{{item.user_name}}</div>
            <div class="text-green-700 font-bold">${{item.item_price|currency}}</div>
            <div class="text-red-500 font-bold">discounted price {{item.item_price|discount:10|currency}}</div>
            <div class="text-neutral-700">added {{ item.created_at|timesince }} ago</div>
            
        </div>
        <div class="py-2 ml-auto items-center">
            <a class="px-4 py-2 bg-red-500 rounded-lg text-white font-bold whitespace-nowrap" href="{% url 'food:detail' item.id %}">View Details</a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="flex items-center justify-center space-x-4 py-4">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }} " class="px-4 py-2 rounded-lg text-gray-900 hover:text-gray-500 transition">Previous</a>
    {% endif %}

    <span>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="px-4 py-2 rounded-lg  text-gray-900 hover:text-gray-500 transition">Next</a>
    {% endif %}
</div>
{% endblock %}



